{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Probando hbs</h1>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu commodo massa, at malesuada dolor. Suspendisse porta aliquam dapibus. Aliquam hendrerit lacus vitae finibus pellentesque. Morbi sed tortor elit. Maecenas elementum commodo mauris, sit amet efficitur sapien accumsan vel. Cras venenatis elit velit. Phasellus vel elementum lacus, eget efficitur lectus. Vestibulum vitae ipsum porta, vehicula elit in, ultrices felis. Praesent quis imperdiet enim.Nullam id turpis ut turpis iaculis fermentum. Duis iaculis pulvinar augue, ac interdum est iaculis vitae. Sed rhoncus libero non enim aliquet tincidunt. Maecenas finibus sem lacus, eget pellentesque mauris hendrerit eu. Nam porta nulla arcu, at congue arcu euismod id. Quisque a orci ac diam rhoncus varius vel eget risus. In at porttitor diam.Duis blandit lorem orci, non placerat odio sollicitudin at. Aliquam quis tellus et nulla iaculis eleifend. Morbi pharetra convallis rutrum. Donec pretium, nibh eget venenatis blandit, dui quam fermentum massa, sit amet viverra nunc dui porttitor erat. Sed velit nisi, tempus ac accumsan non, aliquet at ex. Praesent nec nibh pretium, interdum nulla in, sodales turpis. Vestibulum lacinia hendrerit lacus. Ut sodales hendrerit sem bibendum luctus. Integer finibus eleifend justo id rutrum. Nullam justo turpis, varius eu pellentesque ut, luctus non turpis. Etiam ut hendrerit magna. Sed nisl dolor, sagittis ut ex vitae, convallis porttitor sem. Vivamus leo velit, auctor ut quam sit amet, vestibulum maximus neque. Morbi posuere ac est blandit sollicitudin.Ut sapien urna, convallis nec volutpat non, faucibus a urna. Morbi interdum suscipit cursus. Nulla facilisi. Suspendisse sit amet dui ac augue pellentesque euismod. Vivamus vulputate quam nec massa gravida condimentum. Quisque eleifend dolor at porttitor gravida. Fusce gravida velit vitae augue gravida, at eleifend erat finibus. Proin efficitur pharetra est quis semper.Nullam at porttitor turpis. Donec aliquam diam velit, eget posuere magna fermentum id. Pellentesque ut metus eu justo iaculis sollicitudin. Integer posuere tellus elit, ut molestie nulla mattis ut. Vivamus sagittis mauris non ligula tincidunt, quis vehicula dui condimentum. Morbi vel efficitur odio. Maecenas tincidunt porta diam, nec suscipit mi blandit eu. Praesent vitae pretium nisl. Sed euismod, ex in porta fermentum, sem nibh ultrices urna, ut hendrerit metus nunc at tortor. 
        </p>
    </div>

    <div class="col-4">
        <img src='./assets/img/megalodon.jpg' alt="Megalodon" class="img-thumbnail">
    </div>
</div>

{{> footer }}